@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Raleway:wght@100;300;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: FBFBFB;
}

.primer-block{
    margin-top: 5rem;
    text-align: center;
}

.primer-block h1{
    font-size: 36px;
}

.primer-block h2{
    font-weight: 600;
}


.parrafo-azul {
    color: white;
    background-color: #4B22F4;
    border-radius: 20px;
    padding: 3px;
    font-family: var(--font-mono);
    font-size: 26px;
}

.boton {
    padding-left: 10px;
    padding-right: 10px;
    border: 0 none;
    font-size: 20px;
}

form{
    margin: 0 auto;
    margin-top: 50px;
    width: 50vw;
}

.segundo-bloque{
    background-color: #4B22F4;
}